<!DOCTYPE html>
<html lang="en">
<head id="cabecera">
    <meta charset="utf-8">
    <title>TINTEGR.AR TEST</title>

    <link rel="stylesheet" href="css/jquery-ui.css">
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- <link href="js/slick/slick.grid.css" rel="stylesheet">
     -->
   <!-- <link href="css/grid.css" rel="stylesheet"> -->
	 <script type="text/javascript" src="js/jquery-1.8.3.js"></script>

	<script type="text/javascript" src="js/underscore.js"></script>
	<script type="text/javascript" src="js/backbone.js"></script>
	
	<script type="text/javascript" src="js/jqwidgets/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="js/jqwidgets/jqwidgets/jqxchart.js"></script>
    <script type="text/javascript" src="js/jqwidgets/jqwidgets/jqxdata.js"></script>
<!-- 	
<script type="text/javascript" src="js/view.grid.js" ></script>
	<script type="text/javascript" src="js/slick/jquery-ui-1.8.16.custom.min.js"></script>
	<script type="text/javascript" src="js/slick/jquery.event.drag-2.0.min.js"></script>
	<script type="text/javascript" src="js/slick/slick.grid.min.js"></script>
	<script type="text/javascript" src="js/backend.csv.js"></script>
	<script type="text/javascript" src="js/model.js"></script>
	<script type="text/javascript" src="js/recline.js"></script>
 -->
</head>
<body>
	  <div class="navbar navbar-fixed-top">
     <div class="navbar-inner">
       <div class="container">
         <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </a>
         <a class="brand" href="#" style="text-transform: none;">INTEGR.AR TEST</a>
         <div class="nav-collapse">
          <ul class="nav">
            <li class="divider-vertical"></li>
            <li class="active">

              <a href="/api/discapacitados/">Discapacitados</a>
            </li>
            <li>
              <a href="#">Registrarse</a>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Filtrar <b class="caret"></b></a>
              <ul class="dropdown-menu" id="swatch-menu">
                <li><a href="">Nombre</a></li>
                <li class="divider"></li>
                <li><a href="">Tamaño</a></li>
                <li><a href="">Fecha</a></li>
              </ul>
            </li>
            
          </ul>

          <ul class="nav pull-right">
            
            <form class="navbar-search pull-left" action>
              <input type="text" class="search-query span2" placeholder="Buscar...">
            </form>
            <li class="divider-vertical"></li>
            
          </ul>
         </div>
       </div>
     </div>
   </div>

		<div class="row-fluid show-grid" style="margin-top:5%;">
			<div class="span4">
				<div id="dvPais">
					<div style="height:23px"></div>
						<div id="main" style="background:url('img/data/mapa_argentina.png');width:431px;height:600px;">
							<div id="an" class="provincia" data-provincia="an" style="position:absolute;top:528px;left:301px;">
								<img src="/img/data/an.png"/>
							</div>
							<div id="ba" class="provincia" data-provincia="ba" style="position:absolute;top:251px;left:219px;">
								<img src="img/data/ba.png"/>
							</div>
							<div id="cat" class="provincia" data-provincia="cat" style="position:absolute;top:115px;left:137px;">
								<img src="img/data/cat.png"/>
							</div>
							<div id="cf" class="provincia" data-provincia="cf" style="position:absolute;top:268px;left:276px;">
								<img src="img/data/cf.png"/>
							</div>
							<div id="ch" class="provincia" data-provincia="ch" style="position:absolute;top:100px;left:223px;">
								<img src="img/data/ch.png"/>
							</div>
							<div id="chb" class="provincia" data-provincia="chb" style="position:absolute;top:392px;left:108px;">
								<img src="img/data/chb.png"/>
							</div>
							<div id="cor" class="provincia" data-provincia="cor" style="position:absolute;top:187px;left:187px;">
								<img src="img/data/cor.png"/>
							</div>
							<div id="corr" class="provincia" data-provincia="corr" style="position:absolute;top:152px;left:273px;">
								<img src="img/data/corr.png"/>
							</div>
							<div id="ent" class="provincia" data-provincia="ent" style="position:absolute;top:200px;left:256px;">
								<img src="img/data/ent.png"/>
							</div>
							<div id="fm" class="provincia" data-provincia="fm" style="position:absolute;top:75px;left:238px;">
								<img src="img/data/fm.png"/>
							</div>
							<div id="im" class="provincia" data-provincia="im" style="position:absolute;top:535px;left:230px;">
								<img src="img/data/im.png"/>
							</div>
							<div id="jj" class="provincia" data-provincia="jj" style="position:absolute;top:62px;left:163px;">
								<img src="img/data/jj.png"/>
							</div>
							<div id="lar" class="provincia" data-provincia="lar" style="position:absolute;top:157px;left:131px;">
								<img src="img/data/lar.png"/>
							</div>
							<div id="lp" class="provincia" data-provincia="lp" style="position:absolute;top:277px;left:153px;">
								<img src="img/data/lp.png"/>
							</div>
							<div id="md" class="provincia" data-provincia="md" style="position:absolute;top:229px;left:121px;">
								<img src="img/data/md.png"/>
							</div>
							<div id="ms" class="provincia" data-provincia="ms" style="position:absolute;top:130px;left:329px;">
								<img src="img/data/ms.png"/>
							</div>
							<div id="neq" class="provincia" data-provincia="neq" style="position:absolute;top:299px;left:109px;">
								<img src="img/data/neq.png"/>
							</div>
							<div id="rn" class="provincia" data-provincia="rn" style="position:absolute;top:317px;left:109px;">
								<img src="img/data/rn.png"/>
							</div>
							<div id="sane" class="provincia" data-provincia="sane" style="position:absolute;top:123px;left:193px;">
								<img src="img/data/sane.png"/>
							</div>
							<div id="sf" class="provincia" data-provincia="sf" style="position:absolute;top:164px;left:227px;">
								<img src="img/data/sf.png"/>
							</div>
							<div id="sj" class="provincia" data-provincia="sj" style="position:absolute;top:170px;left:118px;">
								<img src="img/data/sj.png"/>
							</div>
							<div id="sl" class="provincia" data-provincia="sl" style="position:absolute;top:224px;left:162px;">
								<img src="img/data/sl.png"/>
							</div>
							<div id="snc" class="provincia" data-provincia="snc" style="position:absolute;top:459px;left:104px;">
								<img src="img/data/snc.png"/>
							</div>
							<div id="st" class="provincia" data-provincia="st" style="position:absolute;top:64px;left:143px;">
								<img src="img/data/st.png"/>
							</div>
							<div id="tf" class="provincia" data-provincia="tf" style="position:absolute;top:563px;left:159px;">
								<img src="img/data/tf.png"/>
							</div>
							<div id="tuc" class="provincia" data-provincia="tuc" style="position:absolute;top:130px;left:177px;">
								<img src="img/data/tuc.png"/>
							</div>
						</div>
				</div>
			</div>
			<div class="span4">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#">Educación</a>
					</li>
					<li>
						<a href="#">Hospitales</a>
					</li>
					<li >
						<a href="#">Tramites</a>
					</li>
					<li 	>
						<a href="#">Desarrollo Social</a>
					</li>
				</ul>
				
				<div id="Educacion">

					  <div id='jqxChart' style="width:680px; height:400px; position: relative; left: 0px; top: 0px;">
    				</div>
				</div>	
			</div>

			<div class="span4">

			</div>
		</div>

	<!-- 
	<div class="page-header">
        <h1>INTEGR.AR</h1>
     </div>
	<div class="bs-docs-grid">
		<div class="row-fluid show-grid">
			<div class="span4">

			</div>
			<div class="span4">

 					<input type="text" class="search-query" id="txtDestino" placeholder="Origen"/>
 			</div>
 
			<div class="span4">
			</div>
		</div>
		<br/>
		<div class="row-fluid show-grid">
			<div class="span4">

			</div>
			<div class="span4">

 					<input type="text" class="search-query"  placeholder="Destino"/>
 			</div>

			<div class="span4">
			</div>
		</div>
		<br/>
		<div class="row-fluid show-grid">
			<div class="span2">

			</div>
			<div class="span4">
				<div id="dvGrid" ></div>
 			</div>

			<div class="span4">
			</div>
		</div>
		
	</div>
 					
	 -->
</body>
</html>
<script type="text/javascript">
var sampleData =  [];
$.ajax({
  dataType: "json",
  url: 'http://localhost:3000/api/discapacitados/',
  //data: data,
  success: function(data){

  		//console.log(data.csvRows);
  		
  		
  		for (var i = 0; i < data.csvRows.length; i++) {
		  element = data.csvRows[i];
		  
		  sampleData.push(
		    	{provincia: element.provincia, total: element.total}
			);
		  console.log(element.total);
		}

  		//sampleData = data.csvRows; 	
		var settings = {
		        title: "Total de Personas",
		        description: "Estadisticas",
		        showLegend: true,
		        enableAnimations: true,
		        padding: { left: 20, top: 5, right: 20, bottom: 5 },
		        titlePadding: { left: 90, top: 0, right: 0, bottom: 10 },
		        source: sampleData,
		        categoryAxis:
		            {
		                dataField: 'provincia',
		                showGridLines: true,
		                flip: false
		            },
		        colorScheme: 'scheme01',
		        seriesGroups:
		            [
		                {
		                    type: 'column',
		                    orientation: 'horizontal',
		                    columnsGapPercent: 1000,
		                   // toolTipFormatSettings: { thousandsSeparator: ',' },
		                    valueAxis:
		                    {
		                        flip: true,
		                        unitInterval: 10000,
		                        maxValue: 70000,
		                        displayValueAxis: true,
		                        description: '',
		                        formatFunction: function (value) {
		                            return parseInt(value / 10000);
		                        }
		                    },
		                    series: [
		                            { dataField: 'total', displayText: 'Total (miles)' }
		                        ]
		                }
		            ]
		    };
		    // setup the chart
		    $('#jqxChart').jqxChart(settings);
  }
});
		
	function initialize(){
				$(".provincia").css("opacity", "0");
				$(".provincia").click(function() {
					var provLocal=$(this).data("provincia");
					alert("alert3:"+provLocal);
				});
				$(".provincia").mouseenter(function() {
					var provLocal=$(this).data("provincia");
					$("#"+provLocal).css("opacity", "1");
				});
				$(".provincia").mouseleave(function() {
					var provLocal=$(this).data("provincia");
					$("#"+provLocal).css("opacity", "0");
				});
			}

	window.load =		initialize();
 /* [
    { Provincia: 'Buenos Aires', Population: 6893, Percent: 19.18},
    { Provincia: 'India', Population: 1210193422, Percent: 17.22},
    { Provincia: 'USA', Population: 313912000, Percent: 4.47},
    { Provincia: 'Indonesia', Population: 237641326, Percent: 3.38},
    { Provincia: 'Brazil', Population: 192376496, Percent: 2.74}];
 */   // prepare jqxChart settings
    
</script>